mj-section
    mj-column
        mj-image(src="./images/NetgearBusinessBlack.png" alt="logo Netgear en noir")/
    mj-column
    mj-column
        mj-social
            mj-social-element(src="./images/iconLinkedin.png" href="https://www.linkedin.com/company/netgearbe/")/
            mj-social-element(src="./images/iconTwitter.png" href="https://twitter.com/NETGEARBE")/
            mj-social-element(src="./images/iconFacebook.png" href="https://www.facebook.com/NETGEARBE")/
            mj-social-element(src="./images/iconYoutube.png" href="https://www.youtube.com/user/NETGEAR")/
mj-section
    mj-column
        mj-text +32 (0)2 709 23 00 | rapidresponse@netgear.com or lu.rapidresponse@netgear.com |
        mj-text NETGEAR Belgium | Regus Brussels Airport - Pegasuslaan 5 - Diegem 1831 - Belgium
        mj-text This email is intended for %%emailaddr%% . If you no longer wish to receive emails, you may unsubscribe .
        mj-text This email was sent by: %%Member_Busname%%
        mj-text %%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%
        mj-text Update Profile 
