mj-wrapper(mj-class="bgW" padding="30px 28px 20px 31px")
    mj-section(padding="0" padding-bottom="36px")
        mj-column(width="100px" padding="0" vertical-align="middle")
            mj-image(padding="0" width="100px" src="./images/NetgearBusinessBlack.png" alt="logo Netgear en noir")/
        mj-column(width="59%")
        mj-column(width="25%" vertical-align="middle")
            mj-social(padding="0" icon-size="25px")
                mj-social-element(src="./images/iconLinkedin.png" href="https://www.linkedin.com/company/netgearbe/")/
                mj-social-element(src="./images/iconTwitter.png" href="https://twitter.com/NETGEARBE")/
                mj-social-element(src="./images/iconFacebook.png" href="https://www.facebook.com/NETGEARBE")/
                mj-social-element(src="./images/iconYoutube.png" href="https://www.youtube.com/user/NETGEAR")/
    mj-section(padding="0" padding-bottom="22px")
        mj-column
            mj-text(padding="0" padding-bottom="14px" mj-class="T12-400 cT1") +32 (0)2 709 23 00 | #[a(style="text-decoration:none;color:#73389B;" href="mailto:rapidresponse@netgear.com") rapidresponse@netgear.com] or #[a(style="text-decoration:none;color:#73389B;" href="mailto:lu.rapidresponse@netgear.com") lu.rapidresponse@netgear.com] |
            mj-text(padding="0" padding-bottom="14px" mj-class="T12-400 cT1") NETGEAR Belgium | Regus Brussels Airport - Pegasuslaan 5 - Diegem 1831 - Belgium
            mj-text(padding="0") This email is intended for #[a(style="text-decoration:none;color:#73389B;" href="#") %%emailaddr%%]. If you no longer wish to receive emails, you may unsubscribe .
            mj-text(padding="0") This email was sent by: #[strong %%Member_Busname%%]
            mj-text(padding="0" padding-bottom="14px") %%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%
            mj-text(padding="0" mj-class="T12-400 cB") #[a(href="#") Update Profile]
