mj-section(mj-class="bgT1" padding="22px 50px 20px 50px")
    mj-column
        mj-text(align="center" padding="0" padding-bottom="10px" mj-class="T25-300 cTW") Save NOW with the latest NETGEAR Promotions