mj-section
    mj-column
        mj-image(src="./images/20Wireless.jpg" alt="")/
        mj-text Save on wireless
        mj-text From SMBs to home office environments NETGEAR provides a range of wireless products that help keep business online and making money. Get business online and making money. Get business grade WiFi that is secure, reliable, and blazing fast for less with NETGEAR.
        mj-button Learn More  