mj-section(mj-class="bgW" padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/15Switching.jpg" alt="")/
    mj-column(width="100%" padding="20px 50px 22px 50px")
        mj-text(align="center" padding="0" padding-bottom="20px") Industry-leading Switching
        mj-text(align="center" padding="0" padding-bottom="20px") NETGEAR switches are the #1 choice for small businesses around the world. Over the last 20+ years, we have sold more switches than there are small businesses globally. Our customers tell us they love the reliability, build quality, affordability and ease of setup. They often install the switch and never look at it again-it just works.
        mj-button Learn more