mj-section(mj-class="bgW" padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/20Wireless.jpg" alt="")/
    mj-column(width="100%" padding="20px 50px 22px 50px")
        mj-text(align="center" padding="0" padding-bottom="20px" mj-class="T35-300 cB") Save on wireless
        mj-text(align="center" padding="0" padding-bottom="20px" mj-class="T14-400 cT1") From SMBs to home office environments NETGEAR provides a range of wireless products that help keep business online and making money. Get business online and making money. Get business grade WiFi that is secure, reliable, and blazing fast for less with NETGEAR.
        mj-button Learn More
        mj-spacer(height="15px")/