mj-section(mj-class="bgW" padding="0")
    mj-column 
        mj-image(padding="0" width="700px" src="./images/15Wifi6.jpg" alt="")/
        mj-text(align="center" padding="0") Ultimate Speed and Capacity with WiFi 6
        mj-text(align="center" padding="0") Offer customers and employees inside the best WiFi with higher speeds, less congestion, higher device density, higher battery life for WiFi 6 devices.
        mj-button Learn More
