mj-section(mj-class="bgW" padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/20PoEswitching.jpg" alt="")/
    mj-column(width="100%" padding="20px 50px 22px 50px")
        mj-text(align="center" padding="0" padding-bottom="20px") Let PoE change the way you power devices
        mj-text(align="center" padding="0" padding-bottom="20px") Power over Ethernet(PoE) provides power and network connectivity for PoE-powered devices over a single network cable. It's 2 in 1 solution, so you don't have to worry about placing your devices next to a power outlet. PoE devices range from wireless access points, IP cameras, VoIP phones, PoE LED lighting, PoE speakers to IoT devices. These devices are powered and, in some cases, manageable by our PoE switches whether in the office or at home.
        mj-button Learn more
