mj-section(mj-class="bgW" padding="0")
    mj-column
        mj-image(padding="0" width="700px" src="./images/20Wireless.jpg" alt="")/
        mj-text(align="center" padding="0") Save on wireless
        mj-text(align="center" padding="0") From SMBs to home office environments NETGEAR provides a range of wireless products that help keep business online and making money. Get business online and making money. Get business grade WiFi that is secure, reliable, and blazing fast for less with NETGEAR.
        mj-button Learn More  