mj-section(mj-class="bgW" padding="0")
    mj-column(width="100%") 
        mj-image(padding="0" width="700px" src="./images/15Wifi6.jpg" alt="")/
    mj-column(padding="22px 50px 20px 50px" width="100%")
        mj-text(align="center" padding="0" padding-bottom="20px") Ultimate Speed and Capacity with WiFi 6
        mj-text(align="center" padding="0" padding-bottom="20px") Offer customers and employees inside the best WiFi with higher speeds, less congestion, higher device density, higher battery life for WiFi 6 devices.
        mj-button Learn More
