mj-section(mj-class="bgW" padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/29Storage.jpg" alt="")/
    mj-column(width="100%" padding="20px 50px 22px 50px")
        mj-text(align="center" padding="0" padding-bottom="20px" mj-class="T35-300 cB") At Work. At Home. Data Protected.
        mj-text(align="center" padding="0" padding-bottom="20px" mj-class="T14-400 cT1") Most companies utilise data for different aspects of their business. Without an exception, data backup is part of any operational plan and every business continuity plan. If you are looking for a data backup solution, ReadyNAS is the leader in the industry for SMBs-limited budget, but highly scalable with enterprise class reliability and security.
        mj-button Learn more
        mj-spacer(height="15px")/
        mj-text(align="center" padding="0" padding-bottom="14px" mj-class="T11-400 cT1") * Terms & Conditions: Offer valid until October 1st 2021 | Not valid in combination with other conditions, special bids, BER and Promotions | Offer only valid for NETGEAR VAR & DMR | NETGEAR reserves the right to terminate this offer without prejudice or prior notice | E&OE.